<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Check</title>
</head>
<body>
    <h1>Checagem de Transferencia</h1>

    <form method="POST" action="/transferCheck">
        <h2>Informe o Numero da Conta de Destino da Transferencia:</h2>
        <label for="number">numero</label>
        <input type="number" name="number" id="number">
        <button type="submit">Buscar Conta</button>
    </form>
</body>
</html>