<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Account Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function depositScreen() {
            window.location.href = "/deposit"
        }

        function transferScreen() {
            window.location.href = "/transferCheck"
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Conta Corrente</h1>

        <h2>bem vindo {{user.name}}</h2>

        <p>Conta: {{account.name}}</p>
        <p>Numero da Conta: {{account.number}}</p>
        <p>Saldo em Conta: {{account.balance}}</p>

        <button onclick="depositScreen()">Novo Deposito</button>
        <button onclick="transferScreen()">Realizar Transferencia</button>
    </div>

</body>

</html>