<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .info-container {
            margin: 20px 0;
            padding: 10px;
            margin: 10px;
            max-width: 400px;
            border-radius: 5px;
            border: 1px solid black;
        }

        .input-container {
            display: flex;
            flex-direction: row;
            gap: 10px;
            max-width: 500px;
        }
    </style>
</head>
<body>
    {{#error}}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{error}}</strong>
            </div>
    {{/error}}

    {{#success}}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{success}}</strong>
            </div>
    {{/success}}

    <h1>Transferencia</h1>

    <div>
        <div class="info-container">
            <h2>Conta Atual</h2>
            <p><strong>Proprietario:</strong> {{user.name}}</p>
            <p><strong>Nome da Conta:</strong> {{account.name}}</p>
            <p><strong>Numero da Conta:</strong> {{account.number}}</p>
        </div>

        <div class="info-container">
            <h2>Conta de Destino</h2>
            <p><strong>Proprietario:</strong> {{targetUser.name}}</p>
            <p><strong>CPF:</strong> {{targetUser.cpf}}</p>
            <p><strong>Nome da Conta:</strong> {{targetAccount.name}}</p>
            <p><strong>Numero da Conta:</strong> {{targetAccount.number}}</p>
        </div>
    </div>

    <form id="form" method="POST">
        <h2>Informe o Valor que Deseja Transferir:</h2>
        <input type="hidden" id="number" name="number" value="{{targetAccount.number}}">
        <input type="hidden" id="name" name="name" value="{{targetAccount.name}}">
        <div class="input-container">
            <label for="value">Valor:</label>
            <input type="number" class="form-control number-input" id="value" name="value" step="0.01" required>
            <button type="submit" class="btn btn-primary btn-block">Transferir</button>
        </div>
    </form>

    <script>
        document.getElementById("form").addEventListener("submit", (event) => {
            event.preventDefault();

            const value = document.getElementById("value").value;
            const name = document.getElementById("name").value;
            const number = document.getElementById("number").value;

            if(confirm(`tem certeza que deseja realizar a transferencia de valor ${value} para conta ${name} de numero ${number}?`)) {

                fetch("/transfer", {
                    method: "POST",
                    body: JSON.stringify({
                        value,
                        targetAccountNumber: number,
                        targetAccountName: name
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => {
                    console.log("Resposta do servidor:", response);
                })
                .catch(error => {
                    console.error("Erro na requisição:", error);
                });
            }
        });
    </script>
</body>
</html>